<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h1>this is blog home page</h1>
    <br />
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, soluta quae
    optio iure ipsum recusandae adipisci? Commodi ipsa similique, voluptas
    voluptate, odio ullam officia omnis facere, quidem repellendus harum!
    Dolorem labore magni saepe illo laborum voluptatem obcaecati deleniti sit
    explicabo quis, quod alias? Sint a dolorum est asperiores expedita debitis.
  </body>
</html>
